header {
  padding-top: 2rem;
}

img.hero {
  max-width: 100%;
  border-radius: var(--rounded-md);
}

.title-box {
  margin-left: 0;
  margin-left: 1rem;
  max-width: 270px;
}

header h1 {
  margin-block: 1rem;
}

.subtitle {
  font-weight: 500;
  font-size: var(--txt-mobile-xs);
  color: var(--primary-color);
}

.intro-box {
  margin-left: 2rem;
  max-width: 275px;
}

.intro-box > h1 {
  max-width: 225px;
}

.intro-box > p {
  line-height: var(--space-xs);
  font-size: var(--txt-mobile-xs);
}

form {
  padding-block: 3rem;
}

button.join {
  width: 71px;
  height: 39px;
  font-size: 0.875rem;
  background-color: var(--primary-color);
  color: #f2f2f2;
}

input {
  height: 47px;
  background-color: #f2f2f2;
  border: transparent;
  border-radius: var(--rounded-xs);
}

::placeholder {
  color: #BDBDBD;
}

::placeholder, input {
  font-family: var(--font);
  font-weight: 500;
  font-size: var(--txt-xxs);
  padding-left: 10px;
}

.form-box {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding-right: 4px;
  border-radius: var(--rounded-xs);
  max-width: 290px;
}

.form-text {
  font-size: var(--txt-xxxs);
  color: var(--grey-3);
  padding-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  .title-box {
    max-width: 540px;
    margin-left: 7rem;
  }
  .subtitle {
    font-size: var(--txt-xs);
  }
  .intro-box {
    margin-left: 10rem;
    max-width: 370px;
  }
  .intro-box > p {
    font-size: var(--txt-xs);
    line-height: var(--space-md);
  }
  ::placeholder, input {
    font-size: var(--txt-xs);
  }
  button.join {
    width: 94px;
    height: 49px;
    font-size: var(--txt-xs);
  }
  input {
    width: 250px;
    height: 57px;
  }
  .form-box {
    max-width: 350px;
  }
  header h1 {
    margin-block: 2rem;
  }
  .intro-box > h1 {
    max-width: 100%;
  }
  
}